body {
    background-color: #0f172a;
    color: white;
}

.card {
    border-radius: 10px;
}

.table {
    color: white;
}

    .table thead {
        background-color: #1e293b;
    }

.badge-fraud {
    background-color: #dc3545;
}

.badge-legit {
    background-color: #28a745;
}
